<!DOCTYPE html>
<html lang="en">
    <div class="relleno">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lavado de automóviles</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
     <!-- Cabecera pagina web -->
     <div class="header logo_header"> 
        <a class="logo_prin" href="Index.html"><img src="archivos utiles/iconos-pack2/iconos-pack2/png/050-car-wash-6.png" width="100%" height="100" ></a>
        <a href="Index.html" class="index"><h1> Lavado de autos M.G.L </h1></a>
        <a href="registro.html" class="registro"> Registrate</a>
    <p>¡Aquí encontrarás el mejor servicio de <b> Carwash </b>! </p>
    </div>
    <div class="push"></div>
    <div class="navegarbar"> 
        
        <a href="Index.html">Inicio </a>
        <a href="mision_vision.html">Mision/vision </a>
        <a href="ubicacion.html">Ubicacion</a>
        <a href="galeria.html">Galeria </a>
        <a href="formulario_insumos.html">Insumos </a>
        
               
        
        
        
        


    </div>
    <div class="push"></div>
<!-- Sector de contenido de la página -->
<div class="push"></div>

<div class="formularios">
<h1>Formulario de Insumos</h1>
<script src="Scripts/validaciones.js"></script>
<script src="Scripts/cliente.js"></script>
<script>
    var arreglo = new Array();
    var indice = 0;


</script>
<form action="" onsubmit="return validarFormulario()">
    <table border="3">
        <tr>
            <td>Nombre :</td>
            <td>
                <input type="text" id="txtProducto" minlength="3" maxlength="120" required>
            </td>
        </tr>
        <tr>
            <td>Precio :</td>
            <td>
                <input type="number" id="txtNombre" minlength="2" maxlength="50" required>
            </td>
        </tr>
        <tr>
            <td>Descripcion:</td>
            <td>
                <input type="text" id="txtDescripcion" min="200" max="200">
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Enviar">
                <input type="reset" value="Limpiar">
            </td>
            <td></td>
        </tr>
    </table>
</form>
<table>
    <tr>

    </tr>
</table>
</div>




</body>
<!-- Footer -->
<footer>
    <div class="push"></div>
    <div class="footer">
        <h2>Sistema desarrollado por DWS </h2>
        
        <p>Correo de contacto desarrollador <b> Nicolas Torrent </b> <a class="logo_prin" ><img src="archivos utiles/iconos-pack2/iconos-pack2/png/008-car-wash-1.png" width="100" height="100" > </a></p>
    </div>
    </footer>
    </div>
</html>