<!DOCTYPE html>
<html lang="en">
<div class="relleno">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lavado de automóviles</title>
    <link rel="stylesheet" href="estilo.css">
  </head>

  <body>
    <!-- Cabecera pagina web -->
    <div class="header logo_header">
      <a class="logo_prin" href="Index.html"><img src="archivos utiles/iconos-pack2/iconos-pack2/png/050-car-wash-6.png"
          width="100" height="100"></a>
      <a href="Index.html" class="index">
        <h1> Lavado de autos M.G.L </h1>
      </a>
      <a href="registro.html" class="registro"> Registrate</a>
      <p>¡Aquí encontrarás el mejor servicio de <b> Carwash </b>! </p>
    </div>
    <div class="push"></div>
    <div class="navegarbar">

      <a href="Index.html">Inicio </a>
      <a href="mision_vision.html">Mision/vision </a>
      <a href="ubicacion.html">Ubicacion</a>
      <a href="galeria.html">Galeria </a>
      <a href="formulario_insumos.html">Insumos </a>








    </div>
    <div class="push"></div>
    <!-- Sector de contenido de la página -->

    <div class="principal">
      <H1>Galeria de Imagenes</H1>
    </div>
    <div class="container">

      <ul class="slider">
        <li id="galeria1"> <img src="img/clientefeliz4.jpg"></li>
        </li>
        <li id="galeria2"><img src="img/clientefeliz5.jpg"> </li>
        <li id="galeria3"> <img src="img/lavado-imagen.jpg"></li>
        <li id="galeria4"> <img src="img/galeria4.jpg"></li>
        <li id="galeria5"> <img src="img/galeria5.jpg"></li>
        <li id="galeria6"> <img src="img/galeria6.jpg"></li>
      </ul>
      <ul class="points_menu">
        <li>
          <a href="#galeria1"> </a>
        </li>
        <li>
          <a href="#galeria2"> </a>
        </li>
        <li>
          <a href="#galeria3"> </a>
        </li>
        <li>
          <a href="#galeria4"> </a>
        </li>
        <li>
          <a href="#galeria5"> </a>
        </li>
        <li>
          <a href="#galeria6"> </a>
        </li>
      </ul>
    </div>

    <div class="push"></div>
    <!-- Sector de contenido de la página -->





  </body>
  <!-- Footer -->
  <footer>
    <div class="push"></div>
    <div class="footer">
      <h2>Sistema desarrollado por DWS </h2>
      <p>Correo de contacto desarrollador <b> Nicolas Torrent </b> <a class="logo_prin"><img
            src="archivos utiles/iconos-pack2/iconos-pack2/png/008-car-wash-1.png" width="100" height="100"> </a></p>
    </div>
  </footer>
</div>

</html>