<!DOCTYPE html>
<html lang="en">
    <div class="relleno">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lavado de automóviles</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
     <!-- Cabecera pagina web -->
     <div class="header logo_header"> 
        <a class="logo_prin" href="Index.html"><img src="archivos utiles/iconos-pack2/iconos-pack2/png/050-car-wash-6.png" width="100" height="100" ></a>
        <a href="Index.html" class="index"><h1> Lavado de autos M.G.L </h1></a>
        <a href="registro.html" class="registro"> Registrate</a>
    <p>¡Aquí encontrarás el mejor servicio de <b> Carwash </b>! </p>
    </div>
    <div class="push"></div>
    <div class="navegarbar"> 
        
        <a href="Index.html">Inicio </a>
        <a href="mision_vision.html">Mision/vision </a>
        <a href="ubicacion.html">Ubicacion</a>
        <a href="galeria.html">Galeria </a>
        <a href="formulario_insumos.html">Insumos </a>
        
               
        
        
        
        


    </div>

<!-- Sector de contenido de la página -->


    </div>

<div class="push"></div>
<!-- Sector de contenido de la página -->

    <div class ="mision">
        <h1><b>Mision</b></h1>
        <h4 class="descripcion">“Lograr que nuestros clientes obtengan el éxito en sus operaciones mediante la prevención en el control de riesgos y de pérdidas, logrando la satisfacción de ellos y de sus clientes. Ofrece el servicio de lavado de salón con la más alta calidad. Así como seguir capacitándonos para renovar nuestra empresa día a día.Satisface las necesidades de sus clientes por encima de sus expectativas, brindándoles productos de calidad y con excelencia en el servicio. Asimismo, el Grupo  tiene como objetivo el crecimiento sostenido de la empresa y el desarrollo profesional de sus colaboradores”
        </h4>
    </div>

    <div class="vision">
        <h1><b>Vision</b></h1>
        <h4 class="descripcion">“Ser una empresa líder trabajando en equipo con un staff  de profesionales en lavado de auto de salón con seguridad y responsabilidad socio ambiental, brindando servicios y productos de calidad buscando eficiencia y mejores costos operativos”.
        </h4>

    </div>





 


</body>
<!-- Footer -->
<footer>
    <div class="push"></div>
    <div class="footer">
        <h2>Sistema desarrollado por DWS </h2>
        
        <p>Correo de contacto desarrollador <b> Nicolas Torrent </b> <a class="logo_prin" ><img src="archivos utiles/iconos-pack2/iconos-pack2/png/008-car-wash-1.png" width="100" height="100" > </a></p>
    </div>
    </footer>
</div>

    </html>