{% extends "web/base.html" %}
{% block contenido %}
<div class="row"> 
    <div class="side"> <!-- col-xs-1 col-md-5 col-xl-4 -->        
        <h2 style="margin-top: 15px;">Nuestra Ubicacion</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6645.62774511988!2d-70.57866782673645!3d-33.61013349366677!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7612807810d4cfcd!2sMamino!5e0!3m2!1ses!2scl!4v1601003857091!5m2!1ses!2scl" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" ></iframe>
    </div>
</div>
{% endblock contenido %}